{% extends "base.html" %}

{% block title %}Blogs - Research Items{% endblock %}

{% block content %}
<section class="tile-container">
    <div class="tile">
        <h3>Research Item 1</h3>
        <p>An in-depth analysis of cloud security practices.</p>
        <a href="/blogs/research-1" class="link-button">Read More</a>
    </div>
    <div class="tile">
        <h3>Research Item 2</h3>
        <p>Exploring serverless computing benefits and limitations.</p>
        <a href="/blogs/research-2" class="link-button">Read More</a>
    </div>
    <div class="tile">
        <h3>Research Item 3</h3>
        <p>Machine learning models in cloud environments.</p>
        <a href="/blogs/research-3" class="link-button">Read More</a>
    </div>
</section>
{% endblock %}
